:root {
  --maim-background: #d3d3d3;
  --translate-timing-function: cubic-bezier(.215,.61,.355,1)
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--maim-background);
  padding: 0 40px;
  margin: 0;
}

#key-visual-section {
  text-transform: uppercase;
  color: #222;
  width: 100%;
  height: 100vh;
  position: relative;
}

#key-visual-section .split-version {
  color: #fff;
  letter-spacing: 0;
  font-weight: 500;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#key-visual-section header {
  width: 100%;
  height: 84px;
  line-height: 84px;
  font-size: 21px;
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@keyframes key-visual-section-entry {
  from {
    transform: translateY(-60px);
  }
  to {
    transform: translateY(0);
  }
}

#key-visual-section header .left-title,
#key-visual-section header .right-title {
  animation-name: key-visual-section-entry;
  animation-duration: .6s;
  animation-timing-function: var(--translate-timing-function);
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

#key-visual-section header .right-title {
  animation-delay: .1s;
}

#key-visual-section .main {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 35px 0;
  perspective: 600px;
}

#key-visual-section .title-1,
#key-visual-section .title-2,
#key-visual-section .split-version {
  font-size: 11.5vw;
  line-height: 0.9;
  margin: 0;
}

@keyframes key-visual-section-entry-title {
  from {
    transform: translateY(100%) rotateX(-80deg);
    opacity: 0;
  }
  to {
    transform: translateY(0%) rotateX(0deg);
    opacity: 1;
  }
}

#key-visual-section .title-1,
#key-visual-section .title-2,
#key-visual-section .split-version {
  font-weight: 500;
  animation-name: key-visual-section-entry-title;
  animation-duration: .8s;
  animation-timing-function: var(--translate-timing-function);
  animation-iteration-count: 1;
  transform-style: preserve-3d;
  animation-fill-mode: backwards;
}

#key-visual-section .title-1 {
  animation-delay: .1s;
}

#key-visual-section .title-2 {
  animation-delay: .2s;
}

#key-visual-section .split-version {
  animation-delay: .3s;
}

@keyframes key-visual-section-entry-logo {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

#key-visual-section .logo {
  background-image: url(logo.svg);
  background-size: 60px 54px;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 54px;
  position: absolute;
  right: 0;
  bottom: 40px;
  font-size: 0;
  outline: none;
}

  #key-visual-section .logo {
  opacity: 1;
  transform: none;
  animation-fill-mode: backwards;
  animation-delay: .6s;
  animation-duration: .6s;
  animation-name: key-visual-section-entry-logo;
  animation-timing-function: var(--translate-timing-function);
}

#outline-section {
  width: 100%;
  height: 200vh; 
  display: block;
}

#outline-section .borderline {
  width: 95%;
  height: 1px;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin: 0;
  border-top: solid #272727 1px;
}

@keyframes borderline-entry {
  from {
    transform: scaleX(0)  
  }
  to {
    transform: scaleX(1)  
  }
}

#outline-section .borderline {
  animation-name: borderline-entry;
  animation-duration: .6s;
  animation-timing-function: var(--translate-timing-function);
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}

#outline-section .borderline {
  width: 95%;
  height: 1px;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin: 0;
  border-top: solid #272727 1px;
}

 #outline-section .summary {
  padding: 60px 0px;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  align-items: flex-start;
 }

 #outline-section .text {
  font-size: 1.3vw;
  font-weight: 500;
  line-height: 1.5;
  margin: 5px 120px 5px 5px;
  flex: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  flex-basis: 200px;
 }


 #outline-section .list {
  font-size: 2vw;
  font-weight: 500;
  line-height: 0.8;
  margin: 5px 5px 5px 5px;
  flex-grow: 3;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  flex-direction: column;
  flex-basis: 500px;
 }

 #outline-section .list1,
 #outline-section .list2,
 #outline-section .list3,
 #outline-section .list4 {
  display: inline-flex;
  flex-direction: column;
  border-bottom: solid #272727 1px;
  padding-bottom: 2%;
  width: 100%;
 }
