:root {
  --maim-background: #c6c8ce;
  --translate-timing-function: cubic-bezier(.215,.61,.355,1)
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--maim-background);
  padding: 0 40px;
  margin: 0;
}

#key-visual-section {
  text-transform: uppercase;
  color: #222;
  width: 100%;
  height: 100vh;
  position: relative;
}

#key-visual-section .split-version {
  color: #fff;
  letter-spacing: 0;
  font-weight: 500;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#key-visual-section header {
  width: 100%;
  height: 84px;
  line-height: 84px;
  font-size: 21px;
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@keyframes key-visual-section-entry {
  from {
    transform: translateY(-60px);
  }
  to {
    transform: translateY(0);
  }
}

#key-visual-section header .left-title,
#key-visual-section header .right-title {
  animation-name: key-visual-section-entry;
  animation-duration: .6s;
  animation-timing-function: var(--translate-timing-function);
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

#key-visual-section header .right-title {
  animation-delay: .1s;
}

#key-visual-section .main {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 35px 0;
  perspective: 600px;
}

#key-visual-section .title-1,
#key-visual-section .title-2,
#key-visual-section .split-version {
  font-size: 11.5vw;
  font-weight: 500;
  line-height: 0.9;
  margin: 0;
}

@keyframes key-visual-section-entry-title {
  from {
    transform: translateY(100%) rotateX(-80deg);
    opacity: 0;
  }
  to {
    transform: translateY(0%) rotateX(0deg);
    opacity: 1;
  }
}

#key-visual-section .title-warpper {
  animation-name: key-visual-section-entry-title;
  animation-duration: .8s;
  animation-timing-function: var(--translate-timing-function);
  animation-iteration-count: 1;
  transform-style: preserve-3d;
  animation-fill-mode: backwards;
}

#key-visual-section .title-1 {
  animation-delay: .1s;
}

#key-visual-section .title-2 {
  animation-delay: .2s;
}

#key-visual-section .split-version {
  animation-delay: .3s;
}

@keyframes key-visual-section-entry-logo {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

#key-visual-section .logo {
  background-image: url(logo.svg);
  background-size: 60px 54px;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 54px;
  position: absolute;
  right: 0;
  bottom: 40px;
  font-size: 0;
  outline: none;
}

#key-visual-section .logo {
  opacity: 1;
  transform: none;
  animation-fill-mode: backwards;
  animation-delay: .6s;
  animation-duration: .6s;
  animation-name: key-visual-section-entry-logo;
  animation-timing-function: var(--translate-timing-function);
}

#key-visual-section .divider {
  width: 100%;
  align-items: center;
  position: absolute;
  bottom: -30px;
  margin: 0;
  border-top: solid #272727 1px;
}

#outline-section {
  width: 100%;
  height: 200vh; 
  display: block;
}

#outline-section .summary {
  padding: 60px 0px;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

#outline-section .text {
  font-size: 1.4vw;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 10% 0 0;
  flex-grow: 1;
  flex-basis: 230px;
  align-self: auto;
}

#outline-section .list {
  font-size: 2vw;
  font-weight: 500;
  line-height: 2;
  align-items: left;
  justify-content: space-between;
  flex-grow: 3;
  flex-basis: 300px;
  flex-direction: column;
}

#outline-section .listline1,
#outline-section .listline2,
#outline-section .listline3,
#outline-section .listline4 {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: solid #272727 1px;
  transform-origin: center left;
}

#outline-section .listicon {
  font-size: 1.5vw;
  float: right;
}

#outline-section .list :hover{
 color: #FFFFFF;
 cursor: pointer
}

@keyframes list-entry {
  from {
    transform: translateY(60px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#outline-section .list1,
#outline-section .list2,
#outline-section .list3,
#outline-section .list4 {
  animation-name: list-entry;
  animation-duration: .6s;
  animation-timing-function: var(--translate-timing-function);
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

#outline-section .list2 {
  animation-delay: .15s;
}

#outline-section .list3 {
  animation-delay: .3s;
}

#outline-section .list4 {
  animation-delay: .45s;
}