:root {
  --maim-background: #d3d3d3;
  --translate-timing-function: cubic-bezier(.215,.61,.355,1)
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--maim-background);
  padding: 0 40px;
  margin: 0;
}

#key-visual-section {
  text-transform: uppercase;
  color: #222;
  width: 100%;
  height: 100vh;
  position: relative;
}

#key-visual-section .split-version {
  color: #fff;
  letter-spacing: 0;
  font-weight: 500;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#key-visual-section header {
  width: 100%;
  height: 84px;
  line-height: 84px;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@keyframes key-visual-section-entry {
  from {
    transform: translateY(-60px);
  }
  to {
    transform: translateY(0);
  }
}

#key-visual-section header .left-title,
#key-visual-section header .right-title {
  animation-name: key-visual-section-entry;
  animation-duration: 0.6s;
  animation-timing-function: var(--translate-timing-function);
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}
  
#key-visual-section .main {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 35px 0;
}

#key-visual-section .title-1,
#key-visual-section .title-2,
#key-visual-section .split-version {
  font-size: 11.5vw;
  line-height: 0.9;
  margin: 0;
}

@keyframes key-visual-section-entryh1 {
  from {
    transform: translateY(100%) rotateX(-80deg);
    transition: cubic-bezier(.215,.61,.355,1);
    opacity: 0.6;
  }
}

#key-visual-section .title-1 {
  animation-delay: .1s;
  animation-name: key-visual-section-entryh1;
  animation-duration: .8s;
  animation-timing-function: var(--translate-timing-function);
  animation-iteration-count: 1;
  transform-style: preserve-3d;
}

#key-visual-section .title-2 {
  animation-delay: .15s;
  animation-name: key-visual-section-entryh1;
  animation-duration: .8s;
  animation-timing-function: var(--translate-timing-function);
  animation-iteration-count: 1;
  transform-style: preserve-3d;
}

#key-visual-section .split-version {
  animation-delay: .2s;
  animation-name: key-visual-section-entryh1;
  animation-duration: .8s;
  animation-timing-function: var(--translate-timing-function);
  animation-iteration-count: 1;
  transform-style: preserve-3d;
}

@keyframes key-visual-section-entrylogo {
  from {
    transform: translateY(120px);
  }
  to {
    transform: translateY(0);
  }
}

#key-visual-section .logo {
  background-image: url(logo.svg);
  background-size: 60px 54px;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 54px;
  position: absolute;
  right: 0;
  bottom: 40px;
  font-size: 0;
  outline: none;
}

  #key-visual-section .logo {
  opacity: 1;
  transform: none;
  animation-fill-mode: backwards;
  animation-delay: 600ms;
  animation-duration: 600ms;
  animation-name: key-visual-section-entrylogo;
  animation-timing-function: var(--translate-timing-function);
}